{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi sapiente quisquam eaque quis laudantium aliquam, vitae, a minus laboriosam nesciunt quibusdam. Amet asperiores corrupti vitae ipsa temporibus harum velit ad!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/handlebars-js.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}